In [3]:
# Dependencies and Setup
import pandas as pd
import glob

In [4]:
# List all Citi Bike CSV files in the working directory
citi_bike_csv_files = [file for file in glob.glob('Resources/*tripdata.csv')]
citi_bike_csv_files

['Resources/JC-202002-citibike-tripdata.csv',
 'Resources/JC-201910-citibike-tripdata.csv',
 'Resources/JC-201912-citibike-tripdata.csv',
 'Resources/JC-202003-citibike-tripdata.csv',
 'Resources/JC-201911-citibike-tripdata.csv',
 'Resources/JC-202001-citibike-tripdata.csv']

In [5]:
# Read and consolidate all CSV files into one Data Frame
all_citi_bike_data = pd.concat([pd.read_csv(file) for file in citi_bike_csv_files])
all_citi_bike_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,841,2020-02-01 00:02:13.7650,2020-02-01 00:16:15.4720,3199,Newport Pkwy,40.728745,-74.032108,3213,Van Vorst Park,40.718489,-74.047727,42217,Subscriber,1980,1
1,206,2020-02-01 00:16:11.3850,2020-02-01 00:19:37.4460,3273,Manila & 1st,40.721651,-74.042884,3639,Harborside,40.719252,-74.034234,42160,Subscriber,1990,1
2,859,2020-02-01 00:23:22.1090,2020-02-01 00:37:41.5060,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,42204,Customer,1991,1
3,693,2020-02-01 00:25:14.5170,2020-02-01 00:36:48.0280,3185,City Hall,40.717733,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,42165,Subscriber,1987,1
4,1473,2020-02-01 00:32:30.5050,2020-02-01 00:57:04.3740,3192,Liberty Light Rail,40.711242,-74.055701,3639,Harborside,40.719252,-74.034234,26156,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26015,544,2020-01-31 23:29:29.3910,2020-01-31 23:38:33.6910,3213,Van Vorst Park,40.718489,-74.047727,3194,McGinley Square,40.725340,-74.067622,29659,Subscriber,1989,1
26016,122,2020-01-31 23:30:59.3670,2020-01-31 23:33:01.6870,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42361,Subscriber,1991,1
26017,201,2020-01-31 23:42:34.8460,2020-01-31 23:45:55.8780,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42368,Subscriber,1988,1
26018,300,2020-01-31 23:45:00.6800,2020-01-31 23:50:00.8740,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,42257,Subscriber,1981,2
26019,721,2020-01-31 23:48:35.1700,2020-02-01 00:00:36.4060,3206,Hilltop,40.731169,-74.057574,3202,Newport PATH,40.727224,-74.033759,29302,Customer,1998,1

In [6]:
# Drop any rows with at least one null value
all_citi_bike_data_clean = all_citi_bike_data.dropna()
all_citi_bike_data_clean

print("Old data frame length:", len(all_citi_bike_data)) 
print("New data frame length:", len(all_citi_bike_data_clean)) 
print("Number of rows with at least 1 NA value: ", (len(all_citi_bike_data)-len(all_citi_bike_data_clean)))

Old data frame length: 159479
New data frame length: 159479
Number of rows with at least 1 NA value:  0

In [7]:
# Verify data types
all_citi_bike_data_clean.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [8]:
# Verify gender data (0=unknown; 1=male; 2=female)
all_citi_bike_data_clean.gender.value_counts()

1    112434
2     38634
0      8411
Name: gender, dtype: int64

In [9]:
# Change data type of gender column to String
all_citi_bike_data_clean['gender'] = all_citi_bike_data_clean['gender'].astype(str)

# Replace gender values (0=>unknown; 1=>male; 2=>female)
all_citi_bike_data_clean['gender'].replace({'0':'Unknown', '1': 'Male', '2': 'Female'}, inplace=True)

# Verify gender data after replacement
all_citi_bike_data_clean.gender.value_counts()

Male       112434
Female      38634
Unknown      8411
Name: gender, dtype: int64

In [10]:
# Verify user type data
all_citi_bike_data_clean.usertype.value_counts()

Subscriber    146173
Customer       13306
Name: usertype, dtype: int64

In [11]:
# Check for any duplicate rows in the DataFra,e except first occurrence based on all columns
duplicate_rows_df = all_citi_bike_data_clean[all_citi_bike_data_clean.duplicated()]
 
print(f"Duplicate Rows except first occurrence based on all columns are: {len(duplicate_rows_df)}")
print()

Duplicate Rows except first occurrence based on all columns are: 0

In [12]:
all_citi_bike_data_clean["start station name"].value_counts()

Grove St PATH                 17283
Hamilton Park                  9240
Sip Ave                        8645
Harborside                     7242
Newport PATH                   6527
Columbus Dr at Exchange Pl     6262
Marin Light Rail               5891
Brunswick & 6th                4419
Newport Pkwy                   4256
City Hall                      4086
Warren St                      4066
Newark Ave                     3982
Jersey & 3rd                   3731
Morris Canal                   3650
McGinley Square                3552
Monmouth and 6th               3552
Washington St                  3536
Jersey & 6th St                3488
Columbus Drive                 3441
Brunswick St                   3272
Liberty Light Rail             3189
Manila & 1st                   3175
Van Vorst Park                 3171
Paulus Hook                    3006
Dixon Mills                    2916
Journal Square                 2716
JC Medical Center              2524
Grand St                       2288
Essex Light Rail               2229
Montgomery St                  1721
Astor Place                    1690
Pershing Field                 1653
Oakland Ave                    1650
Bergen Ave                     1615
Baldwin at Montgomery          1583
Fairmount Ave                  1571
York St                        1363
Lafayette Park                 1294
Lincoln Park                   1029
Hoboken Ave at Monmouth St     1022
Christ Hospital                 956
Hilltop                         952
Glenwood Ave                    895
Heights Elevator                860
5 Corners Library               828
Riverview Park                  802
Leonard Gordon Park             634
Communipaw & Berry Lane         579
Dey St                          521
Jackson Square                  498
Union St                        428
Name: start station name, dtype: int64

In [14]:
# Convert the consolidated DataFrame into a csv file and export
all_citi_bike_data_clean.to_csv("Resources/citibike-tripdata-consolidated-201910-202003.csv", index=False, encoding="utf-8")